body {
    background-color: #000000;
    font-family: 'Bookman', serif;
    color: #228B22;
}
h1 {
    color: #228B22;
    text-align: center;
    font-size: 16px;
}
p {
    color: #228B22;
    font-size: 16px;
    text-align: center;
    margin: 0 20px;
}
ul{
    list-style-type: square;
    color: #228B22;
    list-style-position: outside;
    font-size: 20px;
    margin: 0 20px;
}
section {
    padding: 0 30px;
    margin: 30px 0;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box {
    width: 100px;
    height: 50px;
}
#box1 {
    background-color: #4c0080;
    color: #ffffff;
    margin: 150px;
    padding: 150px 50px;
    border: 2px solid #ffffff;
}
#box2 {
    background-color: #4c0080;
    color: #ffffff;
    margin: 150px;
    padding: 150px 50px;
    border: 2px solid #ffffff;
}
#box3 {
    background-color: #4c0080;
    color: #ffffff;
    margin: 150px;
    padding: 150px 50px;
    border: 2px solid #ffffff;
}